@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
$primary: #09357a;
$info: #09357a;
$input-background-color: #f7f7f7;
$input-color: #333333;
$text: #000000;
$text-strong: #333333;

.App {
  // center divs in the middle of the page
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333333;
}

.Welcome{
  width: 700px;
}

h1 {
  font-size: 2rem !important;
}
h2 {
  font-size: 1.5rem !important;
}
h3 {
  font-size: 1.25rem !important;
}
h4{
  font-size: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Square', sans-serif;
  color: #09357a;
}

.Welcome {
  .dropdown, .dropdown-trigger, .dropdown-menu {
    width: 100%
  }
}

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/components/dropdown.sass';
@import '../node_modules/bulma/sass/components/modal.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/helpers/typography.sass';